@{
    ViewBag.Title = "MealIngredients";
}
<br/>
<h2>Składniki posiłku:</h2>
<br />
<p>
    @Html.ActionLink("Dodaj składnik +", "Create")
</p>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Składnik</th>
            <th>Ilość</th>
            <th>Jednostka</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ingredient</td>
                <td>@item.Quantity</td>
                <td>@item.Unit</td>
            </tr>
        }
    </tbody>
</table>
