


.welcome-message {
    text-align: center;
    margin-top: 50px;
}

.welcome-message h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

    .welcome-message button, a {
        margin: 10px;
        padding: 10px 20px;
        font-size: 18px;
        color: #fff;
        background-color: #337ab7;
        text-decoration: none;
        border-radius: 5px;
    }


